<html>
  <head>
    <title><%= title %></title>
    <link href="sanitize.css" rel="stylesheet"/>
    <link href="layout.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1 id="top"><%= title %></h1>
      <% const { datum, quelle } = fallzahlen.slice(-1)[0] %>
      <p>
        <dl>
          <dt>Stand</dt>
          <dd><%= datum %>
          (<a href="https://www.goettingen.de/magazin/artikel.php?artikel=<%= quelle %>">Quelle</a>)
          </dd>
        </ul>
      </p>
    </header>
    <section>
      <p>
        Diese Seite bieten einen Überblick über die Corona-Fallzahlen im Landkreis Göttingen.
        Die Zahlen stammen <a href="https://www.goettingen.de/aktuelles.html">von der Homepage
        der Stadt Göttingen</a> wo sie seit April 2020 regelmäßig (inzwischen täglich) veröffentlicht
        werden.
        Feedback zur dieser Auswertung <a href="https://github.com/nichtich/corona-goettingen/issues">ist hier möglich</a>.
      </p> 
      <p><em>Achtung: sowohl auf Seiten der Stadt als auch bei der vorliegenden Datenauswertung
        kann es zu Lücken und Fehler kommen, daher keine Gewähr!
        Die Diagramme sollten aufgrund unterschiedlicher Skalen nicht direkt miteinander verglichen werden.</em>
      </p>      
      </p>
    </section>
    <nav>
      <h2>Städte und Gemeinden</h2>
      <p>
        In Klammern die neuen Fälle seit Gestern. Danach die Zahl der in den letzten 7 Tagen neu
        Infizierten und sich daraus ergebende Inzidenz (Grün bis 7, Rot bei über 35).
      </p>
      <ul class="columns">
      <% for (g of gemeinden) { 
         if (g.einwohner) {
          // FIXME: assumes there is a value for every day!
          g.serie = 0
          const { faelle, infizierte } = g.zahlen.slice(-1)[0];
          for (let i=g.zahlen.length-2; i && g.zahlen[i].faelle === faelle; i--) g.serie++
          var woche = g.zahlen.slice(-8)
          g.neu7tage = woche[7].faelle - woche[0].faelle
          g.inzidenz = Math.round(100000/g.einwohner*g.neu7tage)
          const neueFaelle = g.zahlen.slice(-2).map(row => row.faelle).reduce((a,b) => b-a)
      %>
       <li<%= g.neu7tage ? '' : " class=zero" %>>
          <a href="#<%= g.id %>"><%= g.name %></a>          
          <%- include('differenz.html', { wert: neueFaelle }) %>
          <% if (g.neu7tage) { %>
          <%= g.neu7tage %> = <%- include('inzidenz.html', g ) -%>
          <% } %>
        </li>
      <% } else { %>
        <li class="zero"><a href="#<%= g.id %>"><%= g.name %></a></li>
      <% } } %>
      </ul>
    </nav>
    <% for (g of gemeinden) { %>
    <section>
      <h2 id="<%= g.id %>">
        <a href="#top">⬆</a>
        <%= g.name %> <a href="https://www.openstreetmap.org/relation/<%= g.osm %>">🌐</a>
      </h2>
      <% if (g.einwohner) {
        const { id, zahlen, serie, inzidenz, einwohner, neu7tage } = g
        const { faelle, infizierte } = zahlen.slice(-1)[0];
        const neueFaelle = zahlen.slice(-2).map(row => row.faelle).reduce((a,b) => b-a)
        const mehrInfizierte = zahlen.slice(-2).map(row => row.infizierte).reduce((a,b) => b-a)
      %>
      <div class="row">
        <dl style="width: 50%" class="cell">
          <dt>Fälle insgesamt</dt>
          <dd><%= faelle %>
            <%- include('differenz.html', { wert: neueFaelle }) %>
            <% if (!neueFaelle) { %>
              (stabil seit <%= serie ? (serie == 1 ? "gestern" : serie + " Tagen") : "heute" %>)
            <% } %>
          </dd>
          <dt>Derzeit Infiziert</dt>
          <dd><%= infizierte %>
            <%- include('differenz.html', { wert: mehrInfizierte }) %>
          </dd>
          <dt>Neuinfektionen in den letzten 7 Tagen</dt>
          <dd><%= neu7tage %>
          <% if (neu7tage) { %>
          ≈ <%- include('inzidenz.html', g) %>
          <% } %>
          </dd>
          <dt>Einwohner</dt>
          <dd><%= einwohner %> (31.12.2019)
            ⇒  1 Person ≈ Inzidenzwert <%= Math.round(100000/einwohner) %> 
          </dd>
        </dl>
        <% if (id != "landkreis" ) { %>
        <img src="<%= id %>.png" style="width: 50%" class="cell"/>
        <% } %>
      </div>
    </section>
    <% } else { %>
     <p>Hier wohnt niemand.</p>
    <% } } %>
  </body>
</html>
