body {
  margin: 1em;
  font-family: sans-serif;
}
h1 {
  border-bottom: thin darkgrey solid;
}
label {
  font-weight: bold;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  flex-grow: 1;
}
.columns {
  column-count: 2;
}

dt { font-weight: bold; }
dt:after { content: ":"; }

@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .columns {
    column-count: 1;
  }
}

.mehr:before, .weniger:before { content: "("; }
.mehr:after, .weniger:after { content: ")"; }
.mehr, .weniger.gut { color: red; }
.weniger, .mehr.gut { color: green; }
